@font-face {
  font-family: bloodSeeker;
  src: url(assets/bloodseeker.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(assets/montserrat.ttf);
}

body {
  margin: 0;
  font-family: montserrat !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

button, input {
  font-family: montserrat;
}

h2 {
  font-family: bloodSeeker;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
